<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>maintenace</title>
</head>

<body>
    <pre>
        <h1>this page for maintenace</h1>
        <h3>we'll back soon !!</h3>
    </pre>
</body>

</html>